<!DOCTYPE html>
<html>

<head>
    <title>Password Security Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Password Strength Analyzer</h1>

    <form method="POST">

        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Register</button>

    </form>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    {% if strength %}
        <h2>Password Strength: {{ strength }}</h2>

        <ul>
            {% for item in feedback %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

</body>
</html>